@import url(https://fonts.googleapis.com/css?family=Catamaran:400,300,200,100,500,600,700,800,900);
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic);*/

@import "_partials/reset.css";
/*@import "_partials/budicon.css";*/

::selection {
  color: #000;
  background: #d59527;
}

html, body {
  position: relative;
  background-color: #fff;
  min-height: 100vh;
  margin: 10px;
  padding: 0;
  color: #3e3e3e;
  font-family: 'Catamaran', sans-serif;
  /*font-size: calc(8px + 0.9vw);*/
  /*font-size: calc(10*0.0007812 * 100vw + 10*1px);
  font-size: calc(10*0.0009766 * 100vw + 10*1px) ?if media (--medium);
  font-size: calc(10*0.001562 * 100vw + 10*1px) ?if media (--small);*/
  font-size: 16px;
}
body {
  overflow-x: hidden;
  max-width: 100vw;
}

a {
  text-decoration: none;
}
a, a:link, a:visited {
  color: #d59527;
}
a:active, a:hover {
  /*color: #95b2b2;*/
  color: #d59527;
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
  line-height: 1.25em;
  margin-top: 1.25em;
  margin-bottom: 0.75em;
  padding-bottom: 0.25em;
  /*border-bottom: 1px solid #f0f0f0;*/
  /*border-bottom: 1px solid rgba(0,0,0,0.1);*/
  color: #af8439;
  font-family: 'Catamaran', sans-serif;
  font-weight: 300;
}
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a,
h1 > a:link, h2 > a:link, h3 > a:link, h4 > a:link, h5 > a:link, h6 > a:link {
  color: #528b8b;
}

h1 {
  font-size: 1.8rem;
  text-align: center;
}
h1:after {
  position: absolute;
  content: '';
  bottom: 0px;
  left: 47.5%;
  width:5%;
  height: 0px;
  border-bottom: 1px solid #af8439;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
  font-weight: 800;
  color: #52423b;
}

hr {
  border: none;
  border-top: 1px solid #f0f0f0;
  border-top: 1px solid rgba(0,0,0,0.1);
}

p {
  margin-bottom: 1em;
  line-height: 1.4em;
  font-size: 0.9em;
}

pre {
  white-space: nowrap;
  overflow: auto;
}




/*Vue components*/
.glyph, .toggle, .switch, .button, .range, .text {
  background: none;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  border: none;
  margin: 0;
  outline: none;
  font-size: 1em;
}

.toggle {
  width: calc(1em + 4px);
  height: calc(1em + 4px);
  background-color: transparent;
  border: 2px solid #9ac0cd;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 0 0 #9ac0cd inset;
}
.toggle--on {
  background-color: #9ac0cd;
  border-color: #9ac0cd;
  box-shadow: 0 0 0 1em #9ac0cd inset;
  transition: background-color 0s 0.3s, border-color 0.3s, box-shadow 0.3s;
}
.toggle--off {
  transition: border-color 0.3s 0.3s, box-shadow 0.3s;
}

.toggle--positive {
  box-shadow: 0 0 0 0 #90ee90 inset;
}
.toggle--positive.toggle--on {
  background-color: #90ee90;
  border-color: #90ee90;
  box-shadow: 0 0 0 1em #90ee90 inset;
}
.toggle--negative {
  box-shadow: 0 0 0 0 #f08080 inset;
}
.toggle--negative.toggle--on {
  background-color: #f08080;
  border-color: #f08080;
  box-shadow: 0 0 0 1em #f08080 inset;
}

.toggle .glyph {
  width: 100%;
  height: 100%;
  fill: #fff;
}
.toggle--on .glyph {
  transform: scale(1);
  transition: transform 0.3s;
}
.toggle--off .glyph {
  visibility: hidden;
  transform: scale(2);
  opacity: 0;
  transition: transform 0.3s, opacity 0.5s;
}


.switch {
  position: relative;
  width: calc(1.8em + 4px);
  height: calc(1em + 4px);
  background-color: #9ac0cd;
  border: 2px solid #9ac0cd;
  border-radius: 1000px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 0 0 #9ac0cd inset;
}
.switch--on {
  /*background-color: #9ac0cd;*/
  border-color: #9ac0cd;
  /*box-shadow: 0 0 0 1em #9ac0cd inset;*/
  transition: background-color 0s 0.6s, border-color 0.3s, box-shadow 0.3s 0.15s;
}
.switch--off {
  transition: border-color 0.3s 0.3s, box-shadow 0.3s;
}

.switch--positive {
  box-shadow: 0 0 0 0 #90ee90 inset;
}
.switch--positive.switch--on {
  background-color: #90ee90;
  border-color: #90ee90;
  box-shadow: 0 0 0 1em #90ee90 inset;
}
.switch--negative {
  box-shadow: 0 0 0 0 #f08080 inset;
}
.switch--negative.switch--on {
  background-color: #f08080;
  border-color: #f08080;
  box-shadow: 0 0 0 1em #f08080 inset;
}

.switch__grip {
  /*left: -0.8em;*/
  position: absolute;
  right: 44.444%;
  width: 55.556%;
  height: 100%;
  /*margin-left: 0.8em;*/
}
.switch__grip {
  background-color: #fff;
  color: #fff;
  transition: right 0.3s;
}
.switch--on .switch__grip {
  right: 0;
}


.button {
  min-width: 4em;
  height: calc(1.5em + 4px);
  /*line-height: 100%;*/
  background-color: #36648b;
  padding: 0 0.3em 0 0.3em;
  border: 2px solid #36648b;
  border-radius: 2px;
  color: #fff;
  font-family: inherit;
  font-weight: 300;
  white-space: nowrap;
  cursor: pointer;
  box-shadow: 0 0 0 0 #9ac0cd inset;
  overflow: hidden;
}
/*.button--normal {
  background: #87cefa;
  border-color: #87cefa;
}*/
.button--positive {
  background-color: #90ee90;
  border: 2px solid #90ee90;
}
.button--negative {
  background-color: #f08080;
  border: 2px solid #f08080;
}
.button--hollow {
  background: none;
  color: #9ac0cd;
}
.button--ghost {
  background: rgba(154, 192, 205, 0.39);
  border: 0;
  color: #9ac0cd;
}
.button--active {
  background-color: #9ac0cd;
  border-color: #9ac0cd;
  /*box-shadow: 0 0 3px 1em #9ac0cd inset;*/
  transform: scale(1.05);
  transition: background-color 0.3s 0s, transform 0.3s, border-color 0.3s;
  /*animation: anim-effect-marko 0.5s forwards;*/
}
/*.button--off {
  transition: border-color 0.3s 0.3s, box-shadow 0.3s;
}*/

.button__start, .button__content, .button__end {
  display: inline-block;
}
.button__start > .glyph, .button__content > .glyph, .button__end > .glyph {
  height: 1em;
  max-height: 100%;
  max-width: 1.5em;
  fill: currentColor;
}

.button__start {
}
.button__content {
}
.button__end {
}


/* Marko */
.cbutton--effect-marko::after {
  box-shadow: inset 0 0 0 2px rgba(111,148,182,0.3);
}

.cbutton--effect-marko.cbutton--click::after {
  -webkit-animation: anim-effect-marko 0.5s forwards;
  animation: anim-effect-marko 0.5s forwards;
}

@keyframes anim-effect-marko {
  0% {
    opacity: 1;
  }
  50% {
    box-shadow: inset 0 0 0 35px rgba(111,148,182,0.1);
    opacity: 1;
  }
  100% {
    box-shadow: inset 0 0 0 35px rgba(111,148,182,0.1);
    /*opacity: 0;*/
    /*-webkit-transform: scale3d(1.1, 1.1, 1);*/
    /*transform: scale3d(1.1, 1.1, 1);*/
  }
}
