@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,800,300italic,400italic,500italic);

@import "_partials/reset.css";
@import "_partials/hljs-tomorrow.css";
@import "_partials/ideal-image-slider.css";
@import "_partials/ideal-theme.css";
@import "_partials/lightgallery.css";
@import "_partials/lg-transitions.css";
@import "_partials/daterangepicker.css";


@custom-media --small (width <= 640px);
@custom-media --medium (640px < width <= 1024px);
@custom-media --large (width > 1024px);
@custom-media --medium_large (width > 640px);


@grid g12/header {
  count: 12;
  gutter: 10px;
}

@grid g12/main {
  count: 12;
  gutter: 3.2rem 2rem;
}

::selection {
  color: #000;
  background: #d59527;
}

html, body {
  position: relative;
  background-color: #fff;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #3e3e3e;
  font-family: 'Raleway', sans-serif;
  /*font-size: calc(8px + 0.9vw);*/
  /*font-size: calc(10*0.0007812 * 100vw + 10*1px);
  font-size: calc(10*0.0009766 * 100vw + 10*1px) ?if media (--medium);
  font-size: calc(10*0.001562 * 100vw + 10*1px) ?if media (--small);*/
  font-size: 16px;
}
body {
  overflow-x: hidden;
  max-width: 100vw;
}
.body--mob-menu-open {
  ?if media (--small) {
    position: fixed;
    overflow: hidden;
  }
}
.body--mob-menu-open .main-body, .body--mob-menu-open .quotes {
  /*transition: filter 0 0 0 1s;*/
  /*filter: blur(20px);*/
}

a {
  text-decoration: none;
}
a, a:link, a:visited {
  color: #d59527;
}
a:active, a:hover {
  /*color: #95b2b2;*/
  color: #d59527;
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
  line-height: 1.25em;
  margin-top: 1.25em;
  margin-bottom: 0.75em;
  padding-bottom: 0.25em;
  /*border-bottom: 1px solid #f0f0f0;*/
  /*border-bottom: 1px solid rgba(0,0,0,0.1);*/
  color: #af8439;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a,
h1 > a:link, h2 > a:link, h3 > a:link, h4 > a:link, h5 > a:link, h6 > a:link {
  color: #528b8b;
}

h1 {
  font-size: 1.8rem;
  text-align: center;
}
h1:after {
  position: absolute;
  content: '';
  bottom: 0px;
  left: 47.5%;
  width:5%;
  height: 0px;
  border-bottom: 1px solid #af8439;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
  font-weight: 800;
  color: #52423b;
}

hr {
  border: none;
  border-top: 1px solid #f0f0f0;
  border-top: 1px solid rgba(0,0,0,0.1);
}

p {
  margin-bottom: 1em;
  line-height: 1.4em;
  font-size: 0.9em;
}

pre {
  white-space: nowrap;
  overflow: auto;
}


.main {
  position: relative;
  height: 100vh;
}
.main__inner {
  position: relative;
  min-height: 100%;
  padding-top: 8.2rem;
  padding-bottom: 4.2rem;
  /*padding-top: 3.2rem ?if media (--small);*/
  layout: stack center;
}

.main-header {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
}
.main-header__inner {
  position: relative;
  display: inline-block;
  width: 1000px;
  layout: lines bottom center;
  grid: g12/header;
}
.main-header__nav {
  /*layout: lines center;*/
  text-align: center;
  g12/header-span: 8;
  height: 3.5rem;
  line-height: 3.5rem;
}
.main-header__nav > * {
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  font-size: 0.8rem;
  padding: 0 0.6rem;
}
.main-header__nav > a:link, .main-header__nav > a:visited {
  color: #665952;
}
.main-header__nav > a:active, .main-header__nav > a:hover {
  color: #d59527;
}
.main-header__nav > *:hover {
  /*background-color: #1c1c1c;*/
}
.main-header__masthead {
  position: relative;
  text-align: center;
  g12/header-span: 4;
}
.main-header__logo {
  height: 8rem;
  line-height: 8rem;
  text-align: left;
}
.main-header__logo > img {
  /*height: 2.9rem;*/
  /*width: 96%;*/
  height: 96%;
  vertical-align: bottom;
}


.main-header__hamburger {
  display: none ?if media (--medium_large);
  ?if media (--small) {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    display: block;
    text-align: center;
    /*transform: translateZ(0);*/
  }
}
.main-header__hamburger > svg {
  ?if media (--small) {
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
  }
}
.main-header__hamburger--active {
  ?if media (--small) {
    background-color: #1c1c1c;
    fill: #505050;
  }
}

.main-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #52423b;
  width: 100vw;
  color: #fff;
}
.main-footer__inner {
  position: relative;
  width: 100%;
  height: 3.2rem;
  layout: lines center middle;
}
.main-footer__inner > * {
  font-size: 0.7rem;
}

.main-body {
  width: 1000px;
}
.slider {
  position: relative;
  height: 400px;
}
.slider__item {
  width: 100%;
}
.infobar {
  position: relative;
  background-color: #382d28;
  list-style: none;
  layout: lines center middle;
  box-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
.infobar__item {
  padding: 1.5rem 1.2rem;
  color: #fff;
  font-size: 0.8rem;
}
.welcome {
  padding: 2rem 8rem;
}

.rooms {

}
.rooms__inner {
  position: relative;
  layout: lines;
  grid: g12/main;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.rooms__item {
  position: relative;
  g12/main-span: 4;
}
.rooms__more {
  position: relative;
  layout: lines center;
  margin: 1rem 0;
}
.room {

}
.room__inner {
  /*layout: rows;*/
}
.room__body {
  position: relative;
  height: 240px;
}
.room__featured-image {
  background-color: #f0f0f0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  width: 100%;
  height: 100%;
}
.room__button {
  position: absolute;
  display: inline-block;
  bottom: 1rem;
  right: 1rem;
}
.room__rate {
  font-weight: 600;
}

.services {

}
.services__inner {
  position: relative;
  layout: stack;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.services__item {
  position: relative;
  /*grid: g12/main;*/
  /*g12/main-span: 4;*/
}
.services__more {
  position: relative;
  layout: lines center;
  margin: 1rem 0;
}
.service {

}
.service__inner {
  layout: lines;
  grid: g12/main;
}
.service__image {
  position: relative;
  g12/main-span: 6;
  height: 240px;
}
.service__body {
  position: relative;
  g12/main-span: 6;
}
.service__featured-image {
  background-color: #f0f0f0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  width: 100%;
  height: 100%;
}
.service__button {
  position: absolute;
  display: inline-block;
  bottom: 1rem;
  right: 1rem;
}

.gallery {
  position: relative;
}
.gallery__items {
  text-align: center;
}
.gallery__items a {
  display: inline-block;
  margin: 0.2rem;
}
.gallery__items img {
  width: 150px;
  height: 150px;
}





.posts {
  position: relative;
  padding: 0 2rem;
  margin-bottom: 2rem;
}
.posts__inner {
  position: relative;
}

.posts--list {

}
.posts--list .posts__inner {
  layout: flow;
  grid: g12/main;
}
.posts__item {
  position: relative;
  border-radius: 2px;
}
.posts--list .posts__item {
  /*background-color: #181818;*/
  g12/main-span: 4 ?if media (--large);
  g12/main-span: 6 ?if media (--medium);
  g12/main-span: 12 ?if media (--small);
  aspect-ratio: calc('4:3' + 0.4rem);
  border: 1px solid #212121;
  border-radius: 2px 2px 0 2px;
}
.posts--list .posts__item:nth-child(1) {
  /*g12/main-span: 6 ?if media (--large);*/
}
.posts--list .posts__item:hover {
  background-color: #1c1c1c;
  transition: background-color 0.3s;
}
.posts--list .posts__item:active {
  background-color: #151515;
  transition: background-color 0.3s;
}
.posts--list .posts__date {
  position: absolute;
  background-color: #212121;
  top: 100%;
  right: -1px;
  bottom: initial;
  left: initial;
  font-family: Roboto, sans-serif;
  font-size: 0.5rem;
  text-transform: uppercase;
  padding: 0.3rem 0.5rem;
  border-radius: 0 0 2px 2px;
}

.posts--single {
  padding: 0 1rem ?if media (--medium);
  padding: 0 5px ?if media (--small);
  margin: 2rem 0;
}
.posts--single .posts__inner {
  layout: stack center;
}
.posts--single .posts__item {
  /*background-color: #fff;*/
}


.post, .page {
  /*font-family: 'Roboto', sans-serif;*/
  font-family: tinos, serif;
  layout: stack;
  /*color: #808080;*/
}
.post__inner, .page__inner {
  position: relative;
}
.post .highlight--span {
  overflow-x: auto;
  padding: 0.5em;
  /*background-color: #f0f0f0;*/
  background-color: rgba(0,0,0,0.1);
  /*color: #505050;*/
  color: #8959a8;
}
.post .highlight--block {
  margin-bottom: 1em;
  white-space: pre;
}
.post .highlight--block span{
  display: inline-block;
  margin-bottom: 0.2em;
}
.post ol, .post ul {
  position: relative;
  /*background-color: #fafafa;*/
  /*border-top: 1em solid #f0f0f0;*/
  /*border-bottom: 1em solid #f0f0f0;*/
  /*list-style-position: inside;*/
  padding: 0.25em 1em;
  /*margin-top: 0.25em;*/
  margin-bottom: 1em;
}
.post li > ol, .post li > ul {
  border: none;
}
.post ol li, .post ul li {
  margin-left: 0.5em;
  line-height: 1.8em;
}

.post--compact {
  /*min-height: 100px;*/
  /*border: 1px solid #212121;
  border-radius: 2px;*/
  overflow: hidden;
}
.post--compact:hover {
  /*background-color: #1c1c1c;
  transition: background-color 0.5s;*/
}
.post--compact .post__inner {
  height: 100%;
  layout: rows;
}
.post--compact .post__title h2 {
  border-bottom: 1px solid #212121;
  padding: 0.2rem 0.4rem;
  margin: 0;
}
.post--compact .post__body {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.post--compact .post__featured-image {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  background-size: contain;
  width: calc(25% - 1rem);
  height: calc(100% - 1rem);
  background-repeat: no-repeat;
  background-position: left center;
  /*box-shadow: 0 4px 0px rgba(25,25,25,0.5) inset;*/
  /*transition: height 0.4s cubic-bezier(0.550, 0.055, 0.740, 1.000);*/
  transition: width 0.7s, background-position 0.7s;
}
.post--compact:hover .post__featured-image {
  width: calc(100% - 1rem);
  background-position: center;
  background-size: contain;
  /*height: calc(100% - 2rem);*/
  /*transform: scale(1.2);*/
  transition: width 0.7s 1s, background-position 0.7s 1s;
}
.post--compact .post__excerpt {
  position: absolute;
  /*background-color: rgba(25,25,25,0.9);*/
  top: 0;
  left: 25%;
  width: 75%;
  height: 100%;
  /*opacity: 0;*/
  /*transform: scale(0.9) translateY(20%);*/
  line-height: 1.5em;
  padding: 1rem;
  /*transition: opacity 0.4s cubic-bezier(0.550, 0.055, 0.740, 1.000), transform 0.4s cubic-bezier(0.550, 0.055, 0.740, 1.000);*/
  transition: left 0.4s;
}
.post--compact:hover .post__excerpt {
  left: 100%;
  /*top: 0;*/
  /*opacity: 1;*/
  /*transform: scale(1) translateY(0);*/
  transition: left 0.4s 1s;
}
.post--compact .post__read-more {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  layout: lines center middle;
}
.post--compact .post__button {
  position: relative;
  background-color: #E64A42;
  padding: 0.5rem 0.7rem;
  border-radius: 2px;
  color: #191919;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 0.65rem;
  text-transform: uppercase;
  /*border: 2px solid #191919;*/
  cursor: pointer;
  transform: scale(0);
  transition: transform 0.4s 0.4s;
}
.post--compact:hover .post__button {
  transform: scale(1);
  transition: transform 0.4s 1.4s;
}
.post--compact .post__button:hover {
  background-color: #151515;
  color: #E64A42;
  /*border-color: #E64A42;*/
}

.post--full, .page--full {
  position: relative;
  background-color: #fff;
  /*max-width: 700px;*/
  border-radius: 2px;
}
.page--full {
  background-color: transparent;
}
.page--full .page__content form {
  /*background-color: #fff;*/
  padding: 0.6em;
  border-radius: 2px;
  border: 1px solid #212121;
}
.post--full .post__inner,.page--full .page__inner {
  max-width: 700px;
  min-height: 100px;
  margin: 0 auto;
  padding: 1rem 0.6rem;
}
.post--full .post__title {
  /*text-align: center;*/
}
.post--full .post__featured-image {
  display: block;
  width: 75%;
  margin: 0 auto 2em auto;
}
.post--full .post__content, .page--full .page__content {
  line-height: 1.5em;
}

.post form, .page form {
  position: relative;
  display: table;
  table-layout: fixed;
  margin: 0 auto;
  min-width: 45% ?if media (--large);
  min-width: 55% ?if media (--medium);
  min-width: 100% ?if media (--small);
}

.post label, .page label {
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-size: 0.8em;
}
.post label[required], .page label[required] {
  color: #ffc125;
}

.booking {
  position: relative;
  width: 500px;
  margin: 0 auto;
}
.booking__guest, .booking__room,.booking__period, .booking__confirm {
  margin: 1rem 0;
}
.booking__guest, .booking__room {
  grid: g12/main;
}
.booking__guest > *, .booking__room > * {
  g12/main-span: 6;
}
.booking__sent {
  display: none;
}

select,
textarea,
textarea,
input,
input[type=text],
input[type=text],
input[type=email],
input[type=email] {
  background-color: #fff;
  /*width: 100%;*/
  padding: 0.5rem 0.7rem;
  border: 1px solid #e0e0e0;
  border-left: 2px solid #e0e0e0;
  border-radius: 2px;
}
textarea,
textarea,
input[required],
input[type=text][required],
input[type=text][required],
input[type=email][required],
input[type=email][required] {
  border-left: 2px solid #ffc125;
}

button,
.button, a.button,
input[type=submit],
input[type=submit] {
  /*position: relative;*/
  /*display: inline-block;*/
  background-color: #a39d19;
  padding: 0.5rem 0.7rem;
  border-radius: 2px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 0.65rem;
  text-transform: uppercase;
  /*border: 2px solid #191919;*/
  border: none;
  cursor: pointer;
}
.button--large, a.button--large {
  padding: 0.7rem 0.9rem;
  font-size: 0.9rem;
}
.button--dark, a.button--dark {
  background-color: #52423b;
}

button:hover,
button:hover, a.button:hover,
input[type=submit]:hover,
input[type=submit]:hover {
  background-color: #c5be1e;
  color: #fff;
  /*border-color: #E64A42;*/
}
.button--dark:hover, a.button--dark:hover {
  background-color: #69544b;
}

.post input[name=send],
.page input[name=send] {
  float: right;
}


.map {
  aspect-ratio: '16:9';
}
