doctype html
html(lang="en")

  head
    include _partial/head

  body
    include _partial/symbol-defs.svg
    .main
      .main__inner
        header.main-header
          block main_header
            .main-header__inner
              .main-header__masthead
                .main-header__logo
                  img(src='/img/logo.svg')
                //- .main-header__title= site.title
                .main-header__hamburger
                  svg.main-header__icon.icon-menu
                    use(xlink:href="#icon-menu")
              .main-header__nav
                - var i = 0;
                each url, name in menus.header
                  - i++;
                  if i < 6
                    a(href='#{url}')= name
                span
                  a.button(href='/accomodation') book now

        section.main-body
          block main_body

        footer.main-footer
          block main_footer
            .main-footer__inner
              span Site, content, and logo &copy; copyright 2016 Adrien de Pierres.
            //- include _partial/site/footer
