extends base

prepend site_title
  | #{title} &mdash;&nbsp;

block main_body
  section.gallery
    h1 Gallery
    .gallery__items
      each img in collections.imgGallery
        - var src = img.src.replace('_mthb', '_hd');
        a.gallery__item(href='/#{src}', data-src='/#{src}')
          img(src='/#{img.src}')
