extends base

prepend site_title
  | #{title} &mdash;&nbsp;

block main_body
  .posts.posts--single
    ul.posts__inner
      li.posts__item
        article.page.page--full
          .page__inner
            h1.page__title= title
            if featuredImage
              img.page__featured-image(src='/img/' + featuredImage)
            //- .post__excerpt!= page.excerpt
            .page__content!= contents
            

  //- include _partial/post/list_pagination