extends base

prepend site_title
  | #{title} &mdash;&nbsp;

block main_body
  .posts.posts--single
    ul.posts__inner
      li.posts__item
        article.post.post--full
          .post__inner
            h1.post__title= title
            if featuredImage
              img.post__featured-image(src='/img/' + featuredImage)
            //- .post__excerpt!= page.excerpt
            .post__content!= contents
            hr

  //- include _partial/post/list_pagination