html
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  head
    link(href='css/main.css', rel="stylesheet", type="text/css")
    script(src='js/test-main.js')
    body#test-app
      glyphs
      <svg class=""><use xlink:href="#glyph--animal-fish"></use></svg>
      .login
        label Username:
        input(type='text', v-model='username', v-on:change='change', placeholder='{{ usernamePlaceholder }}')
        label Password:
        input(type='text', v-model='password', v-on:change='change', placeholder='{{ passwordPlaceholder }}')
        glyph(kind="interface-plus")
        tgl(look="", feel="", :on="true", @change="logger")
        tgl(look="negative", feel="disabled", :on="false", @change="logger")
        swt(look="positive", feel="")
        swt(look="", feel="disabled")
        btn(:start="true", :end="true", look="negative", feel="toggle")
          glyph(slot="start", kind="interface-bottom")
          |HELLO
          span(slot="end")
            |yay
        btn(:start="true", :end="true", look="neutral", feel="normal")
          |HELLO
        btn(:start="true", :end="true", look="negative", feel="normal")
          |HELLO
        btn(look="round")
          glyph(kind="interface-plus")
        fld(value="bob", feel="floatHint, password")
          span(slot="hint")
            |Firstname
