html
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  head
    link(href='css/main.css', rel="stylesheet", type="text/css")
    script(src='js/main.js')
    body#app
      glyphs
      <svg class=""><use xlink:href="#glyph--animal-fish"></use></svg>
      .login
        label Username:
        input(type='text', v-model='username', v-on:change='change', placeholder='{{ usernamePlaceholder }}')
        label Password:
        input(type='text', v-model='password', v-on:change='change', placeholder='{{ passwordPlaceholder }}')
        glyph
        tgl(type="positive", state="on", @change="logger")
        tgl(type="negative", state="on", @change="logger")
        swt(type="positive")
        btn(:start="true")
          p(slot="start")
            |yay
          |hello
